<div class="content-center">
  <mat-card class="beer-card" *ngIf="beersService.data$ | async as beers">
    <mat-card-header>
      <mat-card-title>Beer List</mat-card-title>
      <span class="spacer"></span>
      <div class="beer-action">
        Select: {{selection.selectedOptions.selected.length}}
        <button mat-icon-button color="primary" 
          (click)="beersService.deleteBeers(removeBeers); resetBeerForm();"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>delete</mat-icon>
        </button>
        <span style="border-right: solid 1px #ccc;"></span>
        <button mat-icon-button color="primary" 
          (click)="beersService.getAllBeers()"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-selection-list #selection>
      <mat-list-option *ngFor="let beer of beers" (click)="chooseBeer(beer)">
        <h3 matLine> {{beer.name}}</h3>
        <img matListAvatar [src]="beer.image_url" alt="Beer Image is {{beer.name}}">
        <p matLine>
          <span> {{beer.first_brewed}} </span>
          <span> -- {{beer.tagline}} </span>
        </p>
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
  <mat-card class="beer-card">
    <mat-card-header>
      <mat-card-title>Beer Details</mat-card-title>
      <span class="spacer"></span>
      <div class="beer-action">
        <button mat-icon-button color="primary" 
          (click)="getCurrentBeer()"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>done</mat-icon>
        </button>
        <span style="border-right: solid 1px #ccc;"></span>
        <button mat-icon-button color="primary" 
          (click)="resetBeerForm()"
          aria-label="Example icon-button with a heart icon">
        <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <form class="beer-form" [formGroup]="beerForm">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Beer Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="first_brewed" placeholder="First Brewed">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="tagline" placeholder="Tagline">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
    </form>
  </mat-card>
</div>
