<mat-card class="beer-card" *ngIf="beersService.data$ | async as beers">
  <mat-card-header>
    <mat-card-title>Plunk API Beer</mat-card-title>
    <span class="spacer"></span>
    <div class="beer-action">
      Select: {{selection.selectedOptions.selected.length}} |
      <button mat-icon-button color="primary" 
        (click)="beersService.deleteBeers(removeBeers)"
        aria-label="Example icon-button with a heart icon">
          <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-selection-list #selection>
    <mat-list-option *ngFor="let beer of beers" (click)="chooseBeer(beer)">
      <h3 matLine> {{beer.name}}</h3>
      <img matListAvatar [src]="beer.image_url" alt="Beer Image is {{beer.name}}">
      <p matLine>
        <span> {{beer.first_brewed}} </span>
        <span> -- {{beer.tagline}} </span>
      </p>
    </mat-list-option>
  </mat-selection-list>
</mat-card>
